<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :client_privé %><br>
      <%= f.radio_button :set_type!, "is_private" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :client_public %><br>
      <%= f.radio_button :set_type!, "is_public" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :client_individuel %><br>
      <%= f.radio_button :set_type!, "is_individual" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= f.submit 'Enregistrer', :class => 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>
