<h1>Liste des clients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type de client</th>
      <th>Nom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.type %></td>
        <td><%= customer.name %></td>
        <td><%= link_to 'Afficher', customer %></td>
        <td><%= link_to 'Editer', edit_customer_path(customer) %></td>
        <td><%= link_to 'Supprimer', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un nouveau client', new_customer_path, :class => "btn btn-primary pull-right" %>
