<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :client%><br>
    <%= f.collection_select(:customer_id, Customer.all,:id,:name, {:prompt => true})%>
    <%= link_to 'créer un nouveau client', new_customer_path%>
  </div>

  <div class="form-group">
    <div class="form-group">
      <%= f.label :date %><br>
      <%= f.date_select :date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type %><br>
    <%= f.radio_button :type_to_set, "is_ancient" %>
    <%= f.label :ancien %>
    <%= f.radio_button :type_to_set, "is_modern" %>
    <%= f.label :neuf %>
  </div>
  <div class="form-group">
    <%= f.label :addresse %><br>
    <%= f.text_field :address, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :programme %><br>
    <%= f.text_area :program, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :montant_en_euro %><br>
    <%= f.text_field :amount_in_euro, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :surface_en_mètres_carrés %><br>
    <%= f.text_field :surface_in_squared_meters, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Enregistrer', :class => 'btn btn-primary pull-right' %>
  </div>

<% end %>
