<h1>Liste des projets</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Addresse</th>
      <th>Description</th>
      <th>Programme</th>
      <th>Budget</th>
      <th>Surface en mètres carrés</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.date %></td>
        <td><%= project.type %></td>
        <td><%= project.address %></td>
        <td><%= project.description %></td>
        <td><%= project.program %></td>
        <td><%= project.amount_in_euro %></td>
        <td><%= project.surface_in_squared_meters %></td>
        <td><%= link_to 'Afficher', project %></td>
        <td><%= link_to 'Editer', edit_project_path(project) %></td>
        <td><%= link_to 'Supprimer', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Projet', new_project_path, :class => "btn btn-primary pull-right" %>
