<p id="notice"><%= notice %></p>

<p>
  <strong>Date :</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Moderne ou ancient :</strong>
  <%= @project.type %>
</p>

<p>
  <strong>Addresse :</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Programme :</strong>
  <%= @project.program %>
</p>

<p>
  <strong>Montant en euros :</strong>
  <%= @project.amount_in_euro %>
</p>

<p>
  <strong>Surface en mètres carrés :</strong>
  <%= @project.surface_in_squared_meters %>
</p>

<%= link_to 'Éditer', edit_project_path(@project), :class => "btn btn-primary pull-right" %>
<%= link_to 'Retour', projects_path, :class => "btn btn-warning pull-right", :style =>"margin-right: 10px" %>
